.body {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 18rem;
    background: linear-gradient(90deg, rgba(5,127,204, .5) 0%, rgba(129,255,242,.5) 100%);
    border-radius: 1rem;
    margin-top: 8%;
  }
#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 1.1rem;
}
header{
  font-family: 'Bungee Outline';
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0.5px 0.5px;
}

#description>.btn{
  color: #002f75;
  border-color: #002f75;
}
img {
  width: 350px;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}
img:hover {
  transform: scale(1.5);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }